@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open sans', 'sans-serif';
    color: #FFFFFF;
}

/* cabecalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0 , 0.16);
}

.cabecalho__menu::before {
    content: "\e904";
    font-size: 24px;
    font-family: 'icones';
}

.cabecalho__notificacao::before {
    content: "\e906";
    font-size: 24px;
    font-family: 'icones';
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}

/* menu lateral */

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color: #15191C;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    width: 116px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    color: #95999C;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    border-left: 8px solid #FFFFFF;
    padding-left: 54px;
}

.menu-lateral__link::before {
    content: "\e900";
    font-family: 'icones';
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

/* principal */

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
    display: none;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    background-color: #2C343A;
    margin-bottom: 16px;
}

.cartao-destaque {
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

.cartao-imagem-desktop {
    display: none;
}

.imagem-destaque {
    display: none;
}



/* seção mais vistos  */

.secao-videos {
    display: none;
}

.secao-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}


.cartao-conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.cartao-perfil {
    grid-column: span 2;
    font-size: 0.9rem;
    color: #95999C;
}

.cartao-titulo {
    grid-column: span 2;
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao-visualizacoes {
    font-size: 0.9rem;
    color: #95999C;
    align-self: center;
}

.cartao-visualizacoes::before {
    content: "\e90f";
    font-family: 'icones';
    margin-right: 8px;
}

.cartao-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    justify-self: flex-end;
}

.cartao-botao__pico::before {
    content: "\e908";
    font-family: 'icones';
    color: #FFFFFF;
    font-size: 24px;
}

/* secao info */

.info-imagem {
    width: 100%;
}

.secao-info {
    width: 100%;
}

.secao__info-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.secao__info-conteudo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.secao__info-perfil {
    justify-self: flex-start;
    margin-left: 0;
    color: #95999C;
}

.secao__info-visualizacoes {
    justify-self: flex-end;
}

.secao__info-texto {
    grid-column: span 2;
    line-height: 2rem;
}

.div-dupla {
    grid-column: span 2;
}

.secao-info__imagem {
    margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
}

.menor {
    height: 35vh;
}

.secao-info-mapa {
    width: 100%;
    height: 45vh;
    grid-column: span 2;
    overflow: hidden;
    border-radius: 16px;
}





/* Screen 1440px */

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
    .cabecalho {
        display: grid;
        background-color: #1D232A;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
        margin-bottom: 16px;
    }


    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
        align-items: center;
        justify-self: flex-end;
    }

    .cabecalho__perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after {
        content: "\e90d";
        font-family: 'icones';
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    /* menu-lateral */
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* principal */
    
    
    .info-imagem {
        display: none;
    }
    
    .cartao-mapa {
        width: 100%;
        height: 100%;     
    }

    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 16px 60px;
        column-gap: 32px;
        grid-column: 2;
    }

    .cartao-destaque {
        grid-column: 1/ span 3;
        grid-row: 1;
        height: 50vh;
        border-radius: 16px;
        overflow: hidden;
    }
    
    .imagem-destaque {
        display: block;
    }

    .cartao__link {
        color: #0480DC;
        font-weight: 600;
        font-size: 0.8rem;
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        margin-bottom: 8px;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-weight: 700;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .cartao__item-perfil {
        color: #95999C;
        font-size: 0.8rem;
    }

    /* cartão */

    .secao {
        display: flex;
        flex-direction: column;
        grid-column: 4;
        grid-row: 1;
    }

    .secao-titulo {
        grid-column: span 4;
    }


    .cartao-imagem-mobile {
        display: none;
    }

    .cartao-imagem-desktop {
        display: block;
    }

    /* seção info */

    .secao-info {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-top: 52vh
    }

    .secao__info-titulo {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .secao__info-conteudo {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .secao__info-perfil {
        justify-self: flex-start;
        margin-left: 0;
        color: #95999C;
    }

    .secao__info-visualizacoes {
        justify-self: flex-end;
    }

    .secao__info-texto {
        grid-column: span 2;
    }

    .div-dupla {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        grid-column: 1 / span 3;
    }

    .secao-info__imagem {
        margin: 0;
    }

    .secao-info-mapa {
        grid-column: span 3;
        width: 100%;
    }

}